<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Metapercept</title>
  </head>
  <body>
    <div id="title">
      <h1>Title</h1>
      <p class="title_details">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
        voluptate facere dolores non dolor odit, quasi, velit a officia nulla
      </p>
      <button class="btn">Read More</button>
    </div>

    <div id="classes">
      <div id="classes_header">
        <h1>classes</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus expedita amet explicabo quam, repellendus aliquid
        </p>
      </div>
      <div id="classes_data"></div>
    </div>
  </body>
</html>

<script src="../controller/index.js"></script>
